<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Blood Donation Prediction</title>
    
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
 <div class="login">
    
	<h1>Predict Blood Donation Frequency</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Recency (months)" placeholder="Recency (months)" required="required" />
        <input type="text" name="Frequency (times)" placeholder="Frequency (times)" required="required" />
		<input type="text" name="Monetary (c.c. blood)" placeholder="Monetary (c.c. blood)" required="required" />
        <input type="text" name="Time (months)" placeholder="Time (months)" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
    <div style="background-image: url('https://images.app.goo.gl/8MjhcxEYUs2q9RJ88');"></div>
   <br>
   <br>
   {{ prediction_text }}
 </div>


</body>
</html>